* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-sx {

}

.block-dx {

}

i {
  cursor: pointer;
  font-size: 40px;
}

.img-slide {
  display: none;
}

.active {
  display: block;
}


.first {

}

.last {

}










.circle {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.pulsanti {
  position: absolute;
  top: 100%; 
}