* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-sx {
  border: 5px solid blue;
}

.block-dx {
  border: 5px solid blue;
}

i {
  cursor: pointer;
  font-size: 40px;
}

.img-slide {
  display: none;
}

.active {
  display: block;
}


.first {

}

.last {

}















.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background-color: grey;
  cursor: pointer;
}

.pulsanti {
  border: 5px solid lime;
}